<!-- un banner para la alegria -->
<div class="flex gap-4 max-sm:flex-col items-center justify-center text-center bg-blue-600 text-white px-6 py-3.5 rounded font-[sans-serif]">
    <p class="text-base">OFERTA LIMITADA: 20% de descuento en toda la tienda</p>

    <div class="flex gap-2">
      <button type="button" class="bg-white text-blue-500 py-2.5 px-5 rounded text-sm hover:underline">
        Ver más
      </button>
    </div>
</div>

<!-- Contenedor aca se puede modificar el ancho de la pagina, con el conteiner...revisar el scss -->
<div class="container mx-auto p-4">
    <app-product-added-message></app-product-added-message>
    <app-product-list></app-product-list>
</div>